@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Rubik", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todocard:hover{
  background-color: var(--color);
}

.todocard:hover h3{
  color: var(--color)
}